@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$primary-color: #7031f5;
$primary-hover: #3f09b6;

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
li,
a {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Creo";
}
header {
  display: grid;
  place-items: center;
  padding-block: 25px;

  img {
    width: 400px;
    height: auto;
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red;
  width: 600px;
  max-width: 100%;
  margin: auto;
  padding-block: 25px;
  padding-inline: 15px;

  .videos {
    position: relative;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  video {
    width: 100%;
    height: auto;
    transition: opacity 0.8s;
    box-shadow: 0px 0px 10px #00000036;
    border-radius: 10px;

    &:not(.intro) {
      position: absolute;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
    &.hide {
      opacity: 0;

      pointer-events: none;
    }
  }

  .buttons {
    padding-block: 15px;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  button {
    background: $primary-color;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;

    &:hover {
      background: $primary-hover;
    }
  }
}

@media screen and (max-width: 620px) {
  section {
    .buttons {
      flex-direction: column;
      gap: 10px;
    }
  }
}
